*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
venv*/
.env
.secrets
*.log
.pytest_cache/
.coverage
htmlcov/
.DS_Store
.idea/
.vscode/
*.swp
.python-version
poetry.lock
